<!DOCTYPE html>
<html lang="en" ng-app="imdbApi">
<head>
    <meta charset="UTF-8">
    <title>Start</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/components/animate.css/animate.min.css">

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="assets/components/font-awesome/css/font-awesome.min.css">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainCtrl">

    <div class="logo">
        <b>Movie</b> Search
    </div>

    <div class="search-bar">
        <form ng-submit="search()">
            <input ng-model="searchInputValue" placeholder="Search Movie...">
            <a ng-click="search()">Search <i class="fa fa-search"></i></a>
        </form>
    </div>

    <div ng-if="searching" class="results">

        <div class="animated slideInDown result-container">
            <div ng-if="apiGet.Response == 'False'" class="no-result">
                <h1>No Result</h1>
            </div>

            <div ng-if="apiGet.Response == 'True'">
                <div ng-if="apiGet.Poster !== 'N/A'" class="with-poster">
                    <a href="https://www.google.com/#tbm=vid&q={{ apiGet.Title }}" target="_blank">
                        <img ng-src="{{ apiGet.Poster }}">
                    </a>
                </div>
                <div ng-if="apiGet.Poster == 'N/A'" class="pull-left">
                    Movie doesn't have poster
                </div>
                <div class="movie-desc">
                    <h1>
                        <a href="https://www.google.com/#tbm=vid&q={{ apiGet.Title }}" target="_blank">{{ apiGet.Title }}</a>
                    </h1>
                    <b>Year: </b> {{ apiGet.Year }} <br>
                </div>
            </div>
        </div>

    </div>

    <!-- Angular -->
    <script src="assets/components/angular/angular.min.js"></script>

    <!-- Script -->
    <script src="assets/js/app.min.js"></script>
</body>
</html>
