.logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
    background-color: #E93D53;
    border: 2px solid #B5384D;
    color: #FBFCFC;
    padding: 20px;
}

.search-bar {
    width: 80%;
    margin: 60px auto 0;
    background: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    color: #B0C0CC;
    box-shadow: 0px 0px 60px -15px rgba(0,0,0,0.75);

    input {
        border: 1px solid #D3E0EA;
        padding: 5px;
    }

    a {
        color: #D3E0EA;
        background-color: transparent;
        font-weight: 500;
        border: 1px solid;
        padding: 5px 15px;
        display: inline-block;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            background-color: #D3E0EA;
            color: #fff;
            border-color: #D3E0EA;
        }
    }
}

.results {
    position: relative;
    overflow: hidden;

    .result-container {
        background-color: #DBE4EB;
        width: 70%;
        margin: 0 auto;
        padding: 15px;
        position: relative;
        overflow: hidden;
        color: #798a9a;

        .movie-desc {
            margin-left: 30px;
            float: left;

            @media (max-width: 768px) {
                margin: 10px 0;
            }

            h1 {
                font-weight: 300;
            }
        }
    }

    .with-poster {
        float: left;

        img {
            max-width: 100%;
            box-shadow: 0px 0px 60px -15px rgba(0,0,0,0.75);
        }
    }
}

